.login {
    width: 100%;
    max-width: 330px;
    text-align: center;
    background-image: url(../../../assets/Images/fondo.jpg);
}

h1{
    color: white;
}

.loginimg{
    border-radius: 100%;
}

.spinner {
    margin: 0 auto; 
}
