<app-banner></app-banner>
<div class="container-profile">
    <div class="acercade">
        <mat-grid-list cols="4" rowHeight="70px">
            <mat-grid-tile [colspan]="1" [rowspan]="4" [style.background]="">
                <img src="../../../assets/Images/fotoPerfil.jfif">
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3" [rowspan]="1" [style.background]="" class="title">
                <h1><b>Leonel Rocchia El Nemer</b></h1>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3" [rowspan]="1" [style.background]="" class="title">
                <h2>Politólogo y desarrollador web full stack jr.</h2>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3" [rowspan]="2" [style.background]="" class="bajada">
                <br>
                <p class="parrafo">Nací en 1995 en el oeste del Gran Buenos Aires, Argentina. Soy politólogo egresado de
                    la UBA, y actualmente estoy formándome como desarrollador web. Cuervo, peronista y baterista desde
                    los 14 años, también tengo una huerta casera que uso de excusa para repartir plantines y me gusta
                    leer, escuchar música y mirar películas. No sé si tengo que poner algo más, contrátenme.</p>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>